NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/DBNAME?retryWrites=true&w=majority
SESSION_SECRET=generate-with-node-crypto-randomBytes-32-hex
CLIENT_ORIGIN=http://localhost:5173
BCRYPT_COST=12
